.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .winStatus, .loseStatus {
    font-size: 48px;
  }

  .winStatus {
    color: #54d900;
    -webkit-text-stroke: 3px #000;
    text-stroke: 3px #000;
  }

  .loseStatus {
    color: #e30000;
    -webkit-text-stroke: 3px #000;
    text-stroke: 3px #000;
  }

  .restartButton {
    margin: 50px auto 0 auto;
  }
}