.variantsWrapper {
  width: 100%;
  max-width: 770px;
  overflow: hidden;

  .variantsList {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -10px -10px 0;
  }

  .city {
    flex: 1 1 250px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .active {
    background-color: darken(#00a0ec, 8);
  }
}